
.Rproj.user/*
output/*
input/*complete*
input/Private/*
.Rproj.user/821EB5E2/sources/prop/1065920B
.Rproj.user/821EB5E2/sources/prop/284E3F39
.Rproj.user/821EB5E2/sources/prop/30264E99
.Rproj.user/821EB5E2/sources/prop/41F0FAB1
.Rproj.user/821EB5E2/sources/prop/4A7BDF77
.Rproj.user/821EB5E2/sources/prop/530029F7
.Rproj.user/821EB5E2/sources/prop/A5A64F56
.Rproj.user/821EB5E2/sources/prop/CA0EDD6C
.Rproj.user/821EB5E2/sources/s-B0D2C6E4/1D0F34FC
.Rproj.user/821EB5E2/sources/s-B0D2C6E4/1D0F34FC-contents
.Rproj.user/821EB5E2/sources/s-B0D2C6E4/25A208F8
.Rproj.user/821EB5E2/sources/s-B0D2C6E4/25A208F8-contents
.Rproj.user/821EB5E2/sources/s-B0D2C6E4/642300AA
.Rproj.user/821EB5E2/sources/s-B0D2C6E4/642300AA-contents
.Rproj.user/821EB5E2/sources/s-B0D2C6E4/681C5BA3
.Rproj.user/821EB5E2/sources/s-B0D2C6E4/681C5BA3-contents
.Rproj.user/821EB5E2/sources/s-B0D2C6E4/6DFB5BE9
.Rproj.user/821EB5E2/sources/s-B0D2C6E4/6DFB5BE9-contents
.Rproj.user/821EB5E2/sources/s-B0D2C6E4/AD839F93
.Rproj.user/821EB5E2/sources/s-B0D2C6E4/AD839F93-contents
.Rproj.user/821EB5E2/sources/s-B0D2C6E4/E08E41E4
.Rproj.user/821EB5E2/sources/s-B0D2C6E4/E08E41E4-contents
.Rproj.user/821EB5E2/sources/s-B0D2C6E4/F9444D2B
.Rproj.user/821EB5E2/sources/s-B0D2C6E4/F9444D2B-contents
.Rproj.user
